
<h1>Details</h1>
<div *ngIf="!book">
    <h3>Loading..</h3>
</div>
<div *ngIf="book">
    <h2>{{book.title}}</h2>
    <p>{{book.description}}</p>
    <p>{{book.authors}}</p>
    <p>{{id}}</p>

    <button (click)="processForm()">save</button>

</div>

<div *ngIf="comments">
    <div *ngFor="let comment of comments" class="comment">
    <h4> title : {{comment.commentTitle}}</h4>
    <h4> comment : {{comment.comment}}</h4>
    <h4> date : {{comment.commentDate}}</h4>
    <h4> user : {{comment.username}}</h4>

    <button [disabled]="id != comment.userId ? true :false " (click)="deleteComment(comment.commentId)">delete</button>
  </div>
</div>

<form [formGroup]="commentForm" (ngSubmit)="processCommentForm()">
    <table>
        <tr>
            <td>Title</td>
            <td><input type="text" formControlName="title"></td>
        </tr>
        <tr>
            <td>Comment</td>
            <td><input type="textare" formControlName="comment"></td>
        </tr>
        <tr>
            <td></td>
            <td><button type="submit">Post</button></td>
        </tr>
    </table>
</form>


<button (click)="back()">back</button>
