.banner {
    background-image: url('../../assets/bg/login_bg.jpg');
    height: 200px;
    background-size:cover;
    background-position:right center;
    background-repeat: no-repeat;
}

.example-form{
    padding-top: 60px;
}

.example-full-width{
    width: 500px;
}



.header {
    background-color:whitesmoke;
}

.example-card{
    margin-bottom: 20px ;
}